## Youth Job Market Trends in Kenya’s IT sector

This analysis is aimed at uncovering insights from labor market and population datasets to help policymakers, educators, and other stakeholders better understand and address youth job market trends in Kenya’s IT sector.

Two datasets were provided for this exercise: population data and labor market data from  countries: Kenya, Rwanda and Ghana.

In [259]:
# import libraries
import pandas as pd
import numpy as np
#ignore warning
import warnings
warnings.filterwarnings('ignore')

## Data Importing

### Population Data

In [260]:
population_df = pd.read_csv("Datasets/Population_data.csv")
population_df

     ccode    name  num_code  year  age     sex  population
0      GHA   Ghana       288  2015   15  female   184146.56
1      GHA   Ghana       288  2015   15    male   193092.96
2      GHA   Ghana       288  2015   16  female   269206.88
3      GHA   Ghana       288  2015   16    male   282046.40
4      GHA   Ghana       288  2015   17  female   323915.68
...    ...     ...       ...   ...  ...     ...         ...
3271   RWA  Rwanda       646  2040   33    male   143553.44
3272   RWA  Rwanda       646  2040   34  female   143317.12
3273   RWA  Rwanda       646  2040   34    male   138332.32
3274   RWA  Rwanda       646  2040   35  female   138679.04
3275   RWA  Rwanda       646  2040   35    male   133219.84

[3276 rows x 7 columns]

In [261]:
print(population_df.shape)
population_df.info()

(3276, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ccode       3276 non-null   object
 1   name        3276 non-null   object
 2   num_code    3276 non-null   int64
 3   year        3276 non-null   int64
 4   age         3276 non-null   int64
 5   sex         3276 non-null   object
 6   population  3276 non-null   float64
dtypes: float64(1), int64(3), object(3)
memory usage: 179.3+ KB

The dataset seems to encompass demographic information, potentially linked to different countries or regions, as evidenced by the inclusion of codes, names, and population counts. Notably, all columns contain complete non-null values across all entries, signifying the absence of any missing data in the dataset.

The data contains information about 3 countries: Kenya, Ghana and Rwanda

### National Labor Market Data

In [262]:
#import the kenyan dataset
kenyan_df = pd.read_csv('Datasets/Kenya_National.csv')
#check the columns, missing values and dtypes
print(kenyan_df.info())

#prints the first few rows
kenyan_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11869 entries, 0 to 11868
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ref_area              11869 non-null  object
 1   ref_area.label        11869 non-null  object
 2   source                11869 non-null  object
 3   source.label          11869 non-null  object
 4   indicator             11869 non-null  object
 5   indicator.label       11869 non-null  object
 6   sex                   11869 non-null  object
 7   sex.label             11869 non-null  object
 8   classif1              11869 non-null  object
 9   classif1.label        11869 non-null  object
 10  classif2              9703 non-null   object
 11  classif2.label        9703 non-null   object
 12  time                  11869 non-null  int64
 13  obs_value             11278 non-null  object
 14  obs_status            5816 non-null   object
 15  obs_status.label      5816 non-null   object
 16  note_classif          420 non-null    object
 17  note_classif.label    420 non-null    object
 18  note_indicator        4294 non-null   object
 19  note_indicator.label  4294 non-null   object
 20  note_source           9703 non-null   object
 21  note_source.label     9703 non-null   object
dtypes: int64(1), object(21)
memory usage: 2.0+ MB
None

,ref_area,ref_area.label,source,source.label,indicator,indicator.label,sex,sex.label,classif1,classif1.label,...,time,obs_value,obs_status,obs_status.label,note_classif,note_classif.label,note_indicator,note_indicator.label,note_source,note_source.label
0,KEN,Kenya,XA:1909,ILO - Modelled Estimates,EMP_2EMP_SEX_ECO_NB,Employment by sex and economic activity -- ILO...,SEX_T,Sex: Total,ECO_SECTOR_TOTAL,Economic activity (Broad sector): Total,...,2021,22755.313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KEN,Kenya,XA:1909,ILO - Modelled Estimates,EMP_2EMP_SEX_ECO_NB,Employment by sex and economic activity -- ILO...,SEX_T,Sex: Total,ECO_SECTOR_AGR,Economic activity (Broad sector): Agriculture,...,2021,7516.948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KEN,Kenya,XA:1909,ILO - Modelled Estimates,EMP_2EMP_SEX_ECO_NB,Employment by sex and economic activity -- ILO...,SEX_T,Sex: Total,ECO_SECTOR_IND,Economic activity (Broad sector): Industry,...,2021,3578.747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KEN,Kenya,XA:1909,ILO - Modelled Estimates,EMP_2EMP_SEX_ECO_NB,Employment by sex and economic activity -- ILO...,SEX_T,Sex: Total,ECO_SECTOR_SER,Economic activity (Broad sector): Services,...,2021,11659.617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KEN,Kenya,XA:1909,ILO - Modelled Estimates,EMP_2EMP_SEX_ECO_NB,Employment by sex and economic activity -- ILO...,SEX_M,Sex: Male,ECO_SECTOR_TOTAL,Economic activity (Broad sector): Total,...,2021,11502.002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


 - The data contains a lot of missing values, especially in the last columns of the dataset. Based on the information provided in the dataset description, only the columns preceedint the 'obs_value' column are relevant for our analysis. Therefore, the columns with mostly missing values will be dropped.

 - The 'obs_value' variable holds the actual observed value or data point for the corresponding combination of reference area, indicator, sex, classif1, classif2, and time. It is the numerical information under analysis and it wull be used in interpreting the dataset.

 - The data from the 3 countries is given in 3 separate datasets. These will be combined to simplify preprocessing and facilitate analysis.

 - There is need to allign the data with information on gender and age groups in the two datasets to facilitate comparison.


 - Most of the precopressing done henceforth is based on the infomation provided in the Dataset Descrition document.

## Preprocessing Population Data

The preprocessing steps in the population data are:
1. Binning the ages to match the age groups in review
2. Filter the years to include only the years in review

In [263]:
# a function that filters for the kenyan populaion, the youth bracket and for the years 2015-2024
def process_population_data(population):
    # Create age groups using bins and labels
    bins = [14, 24, 35]
    labels = ['15-24', '25-35']
    
    population['age_group'] = pd.cut(population['age'], bins=bins, labels=labels, right=True)
    
    # Step 3: Group by name, age group, sex, and year to sum up population
    grouped_pop_df = population.groupby(['name', 'age_group', 'sex', 'year'])['population'].sum().reset_index()
    
    # Step 4: Filter years to include only 2015-2024
    years_to_filter = list(range(2015, 2025))
    filtered_df = grouped_pop_df[grouped_pop_df['year'].isin(years_to_filter)]
    
    return filtered_df


# Call the function to process population data for Kenya
filtered_population = process_population_data(population_df)

# Display the first few rows of the processed data
filtered_population.head()

    name age_group     sex  year  population
0  Ghana     15-24  female  2015   2664400.0
1  Ghana     15-24  female  2016   2712580.0
2  Ghana     15-24  female  2017   2760760.0
3  Ghana     15-24  female  2018   2808940.0
4  Ghana     15-24  female  2019   2857120.0

In [264]:
filtered_population.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 0 to 295
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        120 non-null    object
 1   age_group   120 non-null    category
 2   sex         120 non-null    object
 3   year        120 non-null    int64
 4   population  120 non-null    float64
dtypes: category(1), float64(1), int64(1), object(2)
memory usage: 4.9+ KB

## Preprocessing Labour Market Data

The preprocessing steps are:
1. Concatenate Data from the  countries
2. Drop unnecessary columns
2. Filter the ages to include just the age groups in question: 15-24 ad 25-35
3. Make the sex label values match how they are represented in the popultion dataset
4. Filter the years to include only the years in review

In [265]:
# Concatenate the dataframes
rwandan_df = pd.read_csv('Datasets/Rwanda_National.csv')
ghanan_df = pd.read_csv('Datasets/Ghana_National.csv')

labor_df = pd.concat([kenyan_df, rwandan_df, ghanan_df], axis=0)

labor_df.reset_index(drop=True, inplace=True)


labor_df.tail()

,ref_area,ref_area.label,source,source.label,indicator,indicator.label,sex,sex.label,classif1,classif1.label,...,time,obs_value,obs_status,obs_status.label,note_classif,note_classif.label,note_indicator,note_indicator.label,note_source,note_source.label
53993,GHA,Ghana,AA:1162,PC - Population Census,EIP_DWAP_SEX_AGE_EDU_RT,"Inactivity rate by sex, age and education (%)",SEX_F,Sex: Female,AGE_10YRBANDS_YGE65,Age (10-year bands): 65+,...,2000,35.2,NaN,NaN,NaN,NaN,NaN,NaN,R1:3513,Repository: ILO-STATISTICS - Micro data proces...
53994,GHA,Ghana,AA:1162,PC - Population Census,EIP_DWAP_SEX_AGE_EDU_RT,"Inactivity rate by sex, age and education (%)",SEX_F,Sex: Female,AGE_10YRBANDS_YGE65,Age (10-year bands): 65+,...,2000,43.79,NaN,NaN,NaN,NaN,NaN,NaN,R1:3513,Repository: ILO-STATISTICS - Micro data proces...
53995,GHA,Ghana,AA:1162,PC - Population Census,EIP_DWAP_SEX_AGE_EDU_RT,"Inactivity rate by sex, age and education (%)",SEX_F,Sex: Female,AGE_10YRBANDS_YGE65,Age (10-year bands): 65+,...,2000,26.09,NaN,NaN,NaN,NaN,NaN,NaN,R1:3513,Repository: ILO-STATISTICS - Micro data proces...
53996,GHA,Ghana,AA:1162,PC - Population Census,EIP_DWAP_SEX_AGE_EDU_RT,"Inactivity rate by sex, age and education (%)",SEX_F,Sex: Female,AGE_10YRBANDS_YGE65,Age (10-year bands): 65+,...,2000,38.78,NaN,NaN,NaN,NaN,NaN,NaN,R1:3513,Repository: ILO-STATISTICS - Micro data proces...
53997,GHA,Ghana,AA:1162,PC - Population Census,EIP_DWAP_SEX_AGE_EDU_RT,"Inactivity rate by sex, age and education (%)",SEX_F,Sex: Female,AGE_10YRBANDS_YGE65,Age (10-year bands): 65+,...,2000,67.0,NaN,NaN,NaN,NaN,NaN,NaN,R1:3513,Repository: ILO-STATISTICS - Micro data proces...

In [266]:
def process_labor_data(data):
    # Drop columns
    colums_to_keep =['ref_area.label','indicator.label','sex.label','classif1.label','classif2.label','time','obs_value']
    
    data = data[colums_to_keep]    
    
    # Filtering the data for specific age groups
    data = data[data['classif1.label'].isin(['Age (Youth, adults): 15-24', 'Age (Youth, adults): 25+'])]
    
    # Further filtering for specific genders
    data = data[data['sex.label'].isin(['Sex: Male', 'Sex: Female'])]

    # Cleaning and standardizing age group labels
    data['classif1.label'] = data['classif1.label'].str.replace('Age (Youth, adults): 25+', '25-35', regex=False).str.strip()
    data['classif1.label'] = data['classif1.label'].str.replace('Age (Youth, adults): 15-24', '15-24', regex=False).str.strip()

    # Cleaning and standardizing gender labels
    data['sex.label'] = data['sex.label'].str.replace('Sex: Male', 'male', regex=False).str.strip()
    data['sex.label'] = data['sex.label'].str.replace('Sex: Female', 'female', regex=False).str.strip()

    # Filtering data based on specified years
    years_to_filter =  list(range(2015,2025)) 
    data = data[data['time'].isin(years_to_filter)]
    
    return data

filtered_labor_df = process_labor_data(labor_df)
filtered_labor_df.head()

,ref_area.label,indicator.label,sex.label,classif1.label,classif2.label,time,obs_value
1720,Kenya,Unemployment rate by sex and age -- ILO modell...,male,15-24,NaN,2024,12.438
1721,Kenya,Unemployment rate by sex and age -- ILO modell...,male,25-35,NaN,2024,3.416
1723,Kenya,Unemployment rate by sex and age -- ILO modell...,female,15-24,NaN,2024,14.3
1724,Kenya,Unemployment rate by sex and age -- ILO modell...,female,25-35,NaN,2024,3.7
1729,Kenya,Unemployment rate by sex and age -- ILO modell...,male,15-24,NaN,2023,12.417

 ### 2. Apply Inactivity Rate by Age and Gender

We'll apply the ILO inactive rate by age and gender to the corresponding population for 2015 - 2024 to get the total inactive population.

In [267]:
def indicator_filtered_data(data, indicator):
    # Filtering data for a specific indicator
    data = data[data['indicator.label'] == indicator]
    
    # Creating a mapping dictionary based on specific columns
    obs_value_map = data.set_index(['ref_area.label','classif1.label', 'time', 'sex.label'])['obs_value'].to_dict()

    return obs_value_map

obs_value_map = indicator_filtered_data(filtered_labor_df,'Inactivity rate by sex and age -- ILO modelled estimates, Nov. 2022 (%)')

# Mapping values to calculate 'ILO inactive share'
filtered_population['ILO_inactive_share'] = filtered_population.set_index(['name','age_group', 'year', 'sex']).index.map(obs_value_map).astype(float)
    
# Calculating 'Total inactive population'
filtered_population['Total_inactive_population'] = filtered_population['population'] * filtered_population['ILO_inactive_share'] / 100


print(filtered_population.info())
filtered_population.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 0 to 295
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       120 non-null    object
 1   age_group                  120 non-null    category
 2   sex                        120 non-null    object
 3   year                       120 non-null    int64
 4   population                 120 non-null    float64
 5   ILO_inactive_share         120 non-null    float64
 6   Total_inactive_population  120 non-null    float64
dtypes: category(1), float64(3), int64(1), object(2)
memory usage: 6.8+ KB
None

,name,age_group,sex,year,population,ILO_inactive_share,Total_inactive_population
0,Ghana,15-24,female,2015,2664400.0,59.251,1.578684e+06
1,Ghana,15-24,female,2016,2712580.0,59.396,1.611164e+06
2,Ghana,15-24,female,2017,2760760.0,59.596,1.645303e+06
3,Ghana,15-24,female,2018,2808940.0,59.806,1.679915e+06
4,Ghana,15-24,female,2019,2857120.0,60.025,1.714986e+06

#### 3: Apply Unemployment Rate by Age and Gender

We'll apply the ILO unemployment rate by age and gender to the corresponding population for 2015 - 2024 to get the total unemployed population.

In [268]:
obs_value_map = indicator_filtered_data(filtered_labor_df,'Unemployment rate by sex and age -- ILO modelled estimates, Nov. 2022 (%)')

# Map values to create 'ILO unemployed rate' column
filtered_population['ILO_unemployed_rate'] = filtered_population.set_index(['name','age_group', 'year', 'sex']).index.map(obs_value_map).astype(float)
    
# Calculate 'Total unemployed population' based on 'ILO unemployed rate', population, and inactive population
filtered_population['Total_unemployed_population'] = filtered_population['ILO_unemployed_rate'].astype(float) / 100 * (filtered_population['population'] - filtered_population['Total_inactive_population'])

filtered_population.head()

,name,age_group,sex,year,population,ILO_inactive_share,Total_inactive_population,ILO_unemployed_rate,Total_unemployed_population
0,Ghana,15-24,female,2015,2664400.0,59.251,1.578684e+06,13.700,148743.140772
1,Ghana,15-24,female,2016,2712580.0,59.396,1.611164e+06,9.985,109976.385923
2,Ghana,15-24,female,2017,2760760.0,59.596,1.645303e+06,6.155,68656.407303
3,Ghana,15-24,female,2018,2808940.0,59.806,1.679915e+06,6.279,70891.501325
4,Ghana,15-24,female,2019,2857120.0,60.025,1.714986e+06,6.368,72731.075290

#### 3. Get Total Employed Population:

Calculate the employed population for each year, age group, and gender by subtracting the inactive and unemployed populations from the total population.

In [269]:
# Calculate the total employed population by subtracting the sum of total inactive and total unemployed populations from the total population.
filtered_population['Total_employed_population'] = filtered_population['population'] - (filtered_population['Total_inactive_population'] + filtered_population['Total_unemployed_population'])

filtered_population.head()

,name,age_group,sex,year,population,ILO_inactive_share,Total_inactive_population,ILO_unemployed_rate,Total_unemployed_population,Total_employed_population
0,Ghana,15-24,female,2015,2664400.0,59.251,1.578684e+06,13.700,148743.140772,9.369732e+05
1,Ghana,15-24,female,2016,2712580.0,59.396,1.611164e+06,9.985,109976.385923,9.914396e+05
2,Ghana,15-24,female,2017,2760760.0,59.596,1.645303e+06,6.155,68656.407303,1.046801e+06
3,Ghana,15-24,female,2018,2808940.0,59.806,1.679915e+06,6.279,70891.501325,1.058134e+06
4,Ghana,15-24,female,2019,2857120.0,60.025,1.714986e+06,6.368,72731.075290,1.069403e+06

### 4. Apply Shares of ISIC REV 4 Sector to Employed Population:
The preprocesing steps in this section are:
- Calculate the shares for each sector by dividing the obs_value for each sector by the total obs_value for all sectors in the same country, year, gender and age group.
- Multiply these shares by the employed population to get absolute numbers for each sector.
- Merge this data with the population dataframe DataFrame.

We takes a dataset containing employment information as input.
We filters the data to focus on a specified type of indicator related to employment and specified sectors of economic activity.Then we convert the values in a column called 'obs_value' to numbers (if possible) and handles any errors that may occur during the conversion. Later we groups the filtered data by different categories: sector of `economic activity`, `gender`, and `year`.
We then calculate the sum of the `'obs_value'` column for each group created in the previous step.
Lastly we creates a new summarized dataset with the grouped information.
*NB* _The summarized dataset is returned as the output of the function_

In [270]:
def ISIC_shares(data,indicator):
    # Filter by indicator and ISIC REV 4 sectors
    data = data[data['indicator.label'] == indicator]
    data = data[data['classif2.label'].str.contains('ISIC-Rev.4')]

    # Convert 'obs_value' column to data
    data['obs_value'] = pd.to_numeric(data['obs_value'], errors='coerce')

    # Group by sector, sex, and year and sum the 'obs_value'
    sector_shares = data.groupby(['ref_area.label','classif2.label', 'sex.label', 'time'])['obs_value'].sum().reset_index()

    return sector_shares

sector_shares_not_modelled = ISIC_shares(filtered_labor_df,'Employment by sex, age and economic activity (thousands)')
sector_shares_not_modelled.head()

,ref_area.label,classif2.label,sex.label,time,obs_value
0,Ghana,Economic activity (ISIC-Rev.4): A. Agriculture...,female,2015,1351.086
1,Ghana,Economic activity (ISIC-Rev.4): A. Agriculture...,female,2017,2465.281
2,Ghana,Economic activity (ISIC-Rev.4): A. Agriculture...,male,2015,1759.473
3,Ghana,Economic activity (ISIC-Rev.4): A. Agriculture...,male,2017,2589.517
4,Ghana,Economic activity (ISIC-Rev.4): B. Mining and ...,female,2015,11.427

The  below function calculates the sector shares within a dataset of not modeled employment information. 
It starts by calculating the total values for each year and gender in the dataset. It filters rows where the sector is labeled as `"Total"` and calculates the sum of the 'obs_value' column for each group of gender and year. This helps in later calculations to find the proportion of each sector's value within the total for that year and gender.
Then, using vectorized operations (operations applied to entire arrays/columns rather than individual elements), it iterates through each unique year and gender combination in the `sector_shares_not_modelled` DataFrame.

In [271]:
def calculate_sector_shares(sector_shares_not_modelled):
    # Calculate total values for each year
    total_values = sector_shares_not_modelled[sector_shares_not_modelled["classif2.label"].str.contains("Total")]
    total_values = total_values.groupby(["ref_area.label","sex.label", "time"])["obs_value"].sum().reset_index()

    # Calculate sector shares using vectorized operations
    for country in sector_shares_not_modelled["ref_area.label"].unique():
        for year in sector_shares_not_modelled["time"].unique():
            for gender in sector_shares_not_modelled["sex.label"].unique():
                year_gender_rows = sector_shares_not_modelled[(sector_shares_not_modelled["ref_area.label"] == country) & (sector_shares_not_modelled["time"] == year) & (sector_shares_not_modelled["sex.label"] == gender)]
                if not year_gender_rows.empty:
                    sector_total = total_values[(total_values["ref_area.label"] == country) & (total_values["time"] == year) & (total_values["sex.label"] == gender)]["obs_value"].values[0]
                    sector_shares_not_modelled.loc[year_gender_rows.index, "sector_shares"] = year_gender_rows["obs_value"] / sector_total

    return sector_shares_not_modelled

#display our not modelled df
sector_shares_not_modelled = calculate_sector_shares(sector_shares_not_modelled)
sector_shares_not_modelled.head()

,ref_area.label,classif2.label,sex.label,time,obs_value,sector_shares
0,Ghana,Economic activity (ISIC-Rev.4): A. Agriculture...,female,2015,1351.086,0.286268
1,Ghana,Economic activity (ISIC-Rev.4): A. Agriculture...,female,2017,2465.281,0.393162
2,Ghana,Economic activity (ISIC-Rev.4): A. Agriculture...,male,2015,1759.473,0.425983
3,Ghana,Economic activity (ISIC-Rev.4): A. Agriculture...,male,2017,2589.517,0.443721
4,Ghana,Economic activity (ISIC-Rev.4): B. Mining and ...,female,2015,11.427,0.002421

In [272]:
sectors = ['Agriculture', 'Mining and quarrying', 'Manufacturing', 'Electricity', 'Water supply', 'Construction', 'Wholesale and retail',
           'Transport', 'Accommodation', 'Information and communication', 'Financial and insurance', 'Real estate',
           'Professional', 'Administrative and support', 'Public administration and defence', 'Education', 'Human health', 'Arts and entertainment',
           'Other services', 'Activities of households', 'Extraterritorial organizations']


def calculate_and_merge_sector_shares(filtered_population, sector_shares_not_modelled, sectors): 
    # Initialize columns in the filtered_unemployed_pop DataFrame with zeros for each sector
    for column in sectors:
        filtered_population[column] = 0
        
    # Rename columns in sector_shares_not_modelled DataFrame
    new_column_names = {'sex.label': 'sex','time':'year'}
    sector_shares_not_modelled = sector_shares_not_modelled.rename(columns=new_column_names)

    # Iterate through each sector
    for i in sectors:
        #Iterate through unique countries in sector_shares_not_modelled
        for country in sector_shares_not_modelled["ref_area.label"].unique():
            # Iterate through unique years in sector_shares_not_modelled
            for year in sector_shares_not_modelled["year"].unique():
                # Iterate through unique genders in sector_shares_not_modelled
                for gender in sector_shares_not_modelled["sex"].unique():
                    # Define conditions to select rows matching sector, gender, and year
                    conditions = (sector_shares_not_modelled['classif2.label'].str.contains(i)) & \
                                 (sector_shares_not_modelled['sex'] == gender) & \
                                 (sector_shares_not_modelled['ref_area.label'] == country) & \
                                 (sector_shares_not_modelled['year'] == year)

                    # Select rows from sector_shares_not_modelled based on conditions
                    selected_rows = sector_shares_not_modelled.loc[conditions]

                    # Check if selected_rows is not empty
                    if not selected_rows.empty:
                        # Get the calculated sector share for the selected rows
                        selected_sector_shares = selected_rows['sector_shares'].iloc[0]

                        # Define conditions to select rows in filtered_unemployed_pop
                        population_conditions = (filtered_population['sex'] == gender) & \
                                                (filtered_population['name'] == country) & \
                                                (filtered_population['year'] == year)

                        # Update the sector column in filtered_unemployed_pop with calculated sector shares
                        filtered_population.loc[population_conditions, i] = selected_sector_shares

    return filtered_population

population_sectors = calculate_and_merge_sector_shares(filtered_population, sector_shares_not_modelled, sectors)
population_sectors.head()

,name,age_group,sex,year,population,ILO_inactive_share,Total_inactive_population,ILO_unemployed_rate,Total_unemployed_population,Total_employed_population,...,Real estate,Professional,Administrative and support,Public administration and defence,Education,Human health,Arts and entertainment,Other services,Activities of households,Extraterritorial organizations
0,Ghana,15-24,female,2015,2664400.0,59.251,1.578684e+06,13.700,148743.140772,9.369732e+05,...,0.000000,0.007488,0.002828,0.013793,0.051796,0.030310,0,0,0.008752,0
1,Ghana,15-24,female,2016,2712580.0,59.396,1.611164e+06,9.985,109976.385923,9.914396e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
2,Ghana,15-24,female,2017,2760760.0,59.596,1.645303e+06,6.155,68656.407303,1.046801e+06,...,0.000016,0.002949,0.002984,0.010134,0.040974,0.015888,0,0,0.005382,0
3,Ghana,15-24,female,2018,2808940.0,59.806,1.679915e+06,6.279,70891.501325,1.058134e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
4,Ghana,15-24,female,2019,2857120.0,60.025,1.714986e+06,6.368,72731.075290,1.069403e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0

Now we perform a calculation to determine the total employed population within each sector. We iterate through each row in the population_sectors DataFrame, which contains information about the distribution of population across different economic sectors. The objective is to calculate the total number of employed individuals within each sector.

In [273]:
# Total employed population per sector
for index, row in population_sectors.iterrows():
    for col in sectors:
        population_sectors.at[index, col] = row[col] * row['Total_employed_population']

population_sectors.head()

,name,age_group,sex,year,population,ILO_inactive_share,Total_inactive_population,ILO_unemployed_rate,Total_unemployed_population,Total_employed_population,...,Real estate,Professional,Administrative and support,Public administration and defence,Education,Human health,Arts and entertainment,Other services,Activities of households,Extraterritorial organizations
0,Ghana,15-24,female,2015,2664400.0,59.251,1.578684e+06,13.700,148743.140772,9.369732e+05,...,0.000000,7015.893820,2649.919375,12923.220829,48531.562061,28399.679078,0,0,8200.098875,0
1,Ghana,15-24,female,2016,2712580.0,59.396,1.611164e+06,9.985,109976.385923,9.914396e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
2,Ghana,15-24,female,2017,2760760.0,59.596,1.645303e+06,6.155,68656.407303,1.046801e+06,...,16.360458,3087.452232,3123.345074,10608.421762,42892.113770,16632.075456,0,0,5634.174617,0
3,Ghana,15-24,female,2018,2808940.0,59.806,1.679915e+06,6.279,70891.501325,1.058134e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
4,Ghana,15-24,female,2019,2857120.0,60.025,1.714986e+06,6.368,72731.075290,1.069403e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0

#### 5.  Get Sector Growth Rates:

Calculate the sector growth rates based on the change in shares from the modeled dataset to fill in missing years.

In [274]:
def process_employment_data(data, indicator):
    
    # Filter by indicator and relevant columns
    data = data[data['indicator.label'] == indicator]
    
    # Filtering data based on specified years
    years_to_filter =  list(range(2015,2025)) 
    
    data = data[data['time'].isin(years_to_filter)]
    data = data[data['sex.label'].isin(['Sex: Male','Sex: Female'])]
    data['sex.label'] = data['sex.label'].str.replace('Sex: Male', 'male', regex=False).str.strip()
    data['sex.label'] = data['sex.label'].str.replace('Sex: Female', 'female', regex=False).str.strip()
    data = data[data['classif1.label'].str.contains('Detailed')]

    # Group by classif1.label, sex.label, and time, and sum obs_value
    sector_shares_ILO = data.groupby(['ref_area.label','classif1.label', 'sex.label', 'time'])['obs_value'].sum().reset_index()
    
    return sector_shares_ILO

# Usage
sector_shares_ILO = process_employment_data(labor_df, 'Employment by sex and economic activity -- ILO modelled estimates, Nov. 2022 (thousands)')
sector_shares_ILO['obs_value'] = pd.to_numeric(sector_shares_ILO['obs_value'], errors='coerce')

sector_shares_ILO.head()

,ref_area.label,classif1.label,sex.label,time,obs_value
0,Ghana,Economic activity (Detailed): Accommodation an...,female,2015,433.602
1,Ghana,Economic activity (Detailed): Accommodation an...,female,2016,361.795
2,Ghana,Economic activity (Detailed): Accommodation an...,female,2017,297.388
3,Ghana,Economic activity (Detailed): Accommodation an...,female,2018,315.989
4,Ghana,Economic activity (Detailed): Accommodation an...,female,2019,329.873

We now calculate sector shares for each sector, gender, and year by dividing the observed values by the corresponding total values. Then we rename columns and return the updated DataFrame containing the calculated sector shares and renamed columns.

In [275]:
def calculate_and_rename_sector_shares(data):
    # Calculate total values for each year
    total_values = data[sector_shares_ILO["classif1.label"].str.contains("Total")]
    total_values = total_values.groupby(["ref_area.label","sex.label", "time"])["obs_value"].sum().reset_index()

    # Iterate through unique countries, years and genders
    for country in data["ref_area.label"].unique():
        for year in data["time"].unique():
            for gender in data["sex.label"].unique():
                # Filter sector rows for the current year and gender
                year_gender_rows = data[(data["ref_area.label"] == country) & (data["time"] == year) & (data["sex.label"] == gender)]
                # Calculate sector_total for the current year and gender
                sector_total = total_values[(total_values["ref_area.label"] == country) & (total_values["time"] == year) & (total_values["sex.label"] == gender)]["obs_value"].values[0]
                # Calculate sector shares using vectorized operations
                data.loc[year_gender_rows.index, "sector_shares"] = year_gender_rows["obs_value"]/ sector_total

    # Rename columns using the rename() method
    new_column_names = {'sex.label': 'sex', 'time': 'year'}
    data = data.rename(columns=new_column_names)
    
    return data

# Usage
sector_shares_ILO = calculate_and_rename_sector_shares(sector_shares_ILO)
sector_shares_ILO.head()

,ref_area.label,classif1.label,sex,year,obs_value,sector_shares
0,Ghana,Economic activity (Detailed): Accommodation an...,female,2015,433.602,0.167627
1,Ghana,Economic activity (Detailed): Accommodation an...,female,2016,361.795,0.134058
2,Ghana,Economic activity (Detailed): Accommodation an...,female,2017,297.388,0.105527
3,Ghana,Economic activity (Detailed): Accommodation an...,female,2018,315.989,0.109080
4,Ghana,Economic activity (Detailed): Accommodation an...,female,2019,329.873,0.110780

In [276]:
def calculate_sector_growth_rates(data):
    # Initialize an empty dictionary to store growth rates
    growth_rates = {}

    # Iterate through unique sectors and genders
    for country in data['ref_area.label'].unique():
        for sector in data['classif1.label'].unique():
            for gender in data['sex'].unique():
                # Filter data for the current country, sector and gender
                sector_gender_data = data[(sector_shares_ILO['ref_area.label'] == country) & (sector_shares_ILO['classif1.label'] == sector) & (sector_shares_ILO['sex'] == gender)]
                # Sort data by year to ensure it's in chronological order
                sector_gender_data = sector_gender_data.sort_values(by='year')

                # Iterate through data rows, starting from the second row
                for i in range(1, len(sector_gender_data)):
                    old_value = sector_gender_data.iloc[i - 1]['sector_shares']
                    new_value = sector_gender_data.iloc[i]['sector_shares']
                    year = sector_gender_data.iloc[i]['year']

                    # Calculate growth rate and store it in the dictionary
                    growth_rate = ((new_value - old_value) / old_value) * 100
                    growth_rates[(country, sector, gender, year)] = growth_rate

    # Create lists to store parsed data
    country = []
    economic_activity = []
    gender = []
    year = []
    value = []

    # Parse the growth_rates dictionary and extract values
    for key, val in growth_rates.items():
        country.append(key[0])
        economic_activity.append(key[1])
        gender.append(key[2])
        year.append(key[3])
        value.append(val)

    # Create a DataFrame to store sector growth rates
    sector_growth_rates = pd.DataFrame({
        'country': country,
        'economic_activity': economic_activity,
        'sex': gender,
        'year': year,
        'growth_rate': value
    })

    return sector_growth_rates

# Usage
sector_growth_rates = calculate_sector_growth_rates(sector_shares_ILO)
sector_growth_rates.head()

,country,economic_activity,sex,year,growth_rate
0,Ghana,Economic activity (Detailed): Accommodation an...,female,2016,-20.025916
1,Ghana,Economic activity (Detailed): Accommodation an...,female,2017,-21.283006
2,Ghana,Economic activity (Detailed): Accommodation an...,female,2018,3.367571
3,Ghana,Economic activity (Detailed): Accommodation an...,female,2019,1.558420
4,Ghana,Economic activity (Detailed): Accommodation an...,female,2020,-4.781215

In [277]:
pop_df = population_sectors.copy()
pop_df.head()

,name,age_group,sex,year,population,ILO_inactive_share,Total_inactive_population,ILO_unemployed_rate,Total_unemployed_population,Total_employed_population,...,Real estate,Professional,Administrative and support,Public administration and defence,Education,Human health,Arts and entertainment,Other services,Activities of households,Extraterritorial organizations
0,Ghana,15-24,female,2015,2664400.0,59.251,1.578684e+06,13.700,148743.140772,9.369732e+05,...,0.000000,7015.893820,2649.919375,12923.220829,48531.562061,28399.679078,0,0,8200.098875,0
1,Ghana,15-24,female,2016,2712580.0,59.396,1.611164e+06,9.985,109976.385923,9.914396e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
2,Ghana,15-24,female,2017,2760760.0,59.596,1.645303e+06,6.155,68656.407303,1.046801e+06,...,16.360458,3087.452232,3123.345074,10608.421762,42892.113770,16632.075456,0,0,5634.174617,0
3,Ghana,15-24,female,2018,2808940.0,59.806,1.679915e+06,6.279,70891.501325,1.058134e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
4,Ghana,15-24,female,2019,2857120.0,60.025,1.714986e+06,6.368,72731.075290,1.069403e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0

In [278]:
population_sectors[population_sectors['name']=='Kenya']

,name,age_group,sex,year,population,ILO_inactive_share,Total_inactive_population,ILO_unemployed_rate,Total_unemployed_population,Total_employed_population,...,Real estate,Professional,Administrative and support,Public administration and defence,Education,Human health,Arts and entertainment,Other services,Activities of households,Extraterritorial organizations
104,Kenya,15-24,female,2015,4742700.000,55.928,2.652497e+06,7.339,153399.979382,1.936803e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
105,Kenya,15-24,female,2016,4887980.000,56.361,2.754914e+06,7.371,157228.264801,1.975837e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
106,Kenya,15-24,female,2017,5033260.000,56.906,2.864227e+06,9.304,201806.836312,1.967226e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
107,Kenya,15-24,female,2018,5178540.000,57.463,2.975744e+06,11.192,246536.879053,1.956259e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
108,Kenya,15-24,female,2019,5323820.000,58.043,3.090105e+06,13.175,294291.971987,1.939423e+06,...,5175.457976,9044.113900,24532.436187,36550.883741,129282.731494,40115.126542,0,0,95435.688604,0
109,Kenya,15-24,female,2020,5469100.000,58.456,3.197017e+06,14.775,335700.249066,1.936383e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
110,Kenya,15-24,female,2021,5604760.000,58.395,3.272900e+06,14.463,337256.969363,1.994603e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
111,Kenya,15-24,female,2022,5740420.000,58.126,3.336677e+06,14.332,344504.514235,2.059239e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
112,Kenya,15-24,female,2023,5876080.000,58.196,3.419644e+06,14.321,351786.268759,2.104650e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
113,Kenya,15-24,female,2024,6011740.000,58.297,3.504664e+06,14.300,358511.858305,2.148564e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
130,Kenya,15-24,male,2015,4769000.000,53.436,2.548363e+06,7.337,162928.148429,2.057709e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
131,Kenya,15-24,male,2016,4916300.000,53.445,2.627517e+06,7.378,168866.444048,2.119917e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
132,Kenya,15-24,male,2017,5063600.000,54.779,2.773789e+06,8.798,201457.532717,2.088353e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
133,Kenya,15-24,male,2018,5210900.000,56.142,2.925503e+06,10.189,232859.051627,2.052537e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
134,Kenya,15-24,male,2019,5358200.000,57.540,3.083108e+06,11.675,265616.958310,2.009475e+06,...,7106.145162,18101.672077,65826.628244,59160.287762,112444.489867,24292.343097,0,0,42833.409972,0
135,Kenya,15-24,male,2020,5505500.000,57.930,3.189336e+06,12.873,298159.772410,2.018004e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
136,Kenya,15-24,male,2021,5645120.000,58.036,3.276202e+06,12.474,295498.850879,2.073419e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
137,Kenya,15-24,male,2022,5784740.000,57.349,3.317491e+06,12.370,305198.757880,2.162051e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
138,Kenya,15-24,male,2023,5924360.000,57.228,3.390393e+06,12.417,314642.714575,2.219325e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
139,Kenya,15-24,male,2024,6063980.000,57.193,3.468172e+06,12.438,322866.588915,2.272941e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
156,Kenya,25-35,female,2015,4122072.640,14.453,5.957632e+05,1.793,63226.729000,3.463083e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
157,Kenya,25-35,female,2016,4203120.512,14.283,6.003317e+05,1.787,64381.836022,3.538407e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
158,Kenya,25-35,female,2017,4284168.384,13.838,5.928432e+05,2.300,84900.478750,3.606425e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
159,Kenya,25-35,female,2018,4365216.256,13.340,5.823198e+05,2.793,105656.296660,3.677240e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
160,Kenya,25-35,female,2019,4446264.128,12.788,5.685883e+05,3.322,128816.392445,3.748859e+06,...,10004.038745,17482.059809,47420.623116,70652.000041,249900.484361,77541.597684,0,0,184474.945198,0
161,Kenya,25-35,female,2020,4527312.000,13.634,6.172537e+05,3.597,140644.796401,3.769413e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
162,Kenya,25-35,female,2021,4633654.368,12.436,5.762413e+05,3.899,158198.537190,3.899215e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
163,Kenya,25-35,female,2022,4739996.736,11.682,5.537264e+05,3.754,157152.587711,4.029118e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
164,Kenya,25-35,female,2023,4846339.104,11.607,5.625146e+05,3.727,159658.140017,4.124166e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
165,Kenya,25-35,female,2024,4952681.472,11.648,5.768883e+05,3.700,161904.345963,4.213889e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
182,Kenya,25-35,male,2015,4085025.920,6.567,2.682637e+05,1.354,51678.961106,3.765083e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
183,Kenya,25-35,male,2016,4166646.272,6.499,2.707903e+05,1.347,52477.179388,3.843379e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
184,Kenya,25-35,male,2017,4248266.624,6.685,2.839966e+05,1.959,77660.049304,3.886610e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
185,Kenya,25-35,male,2018,4329886.976,6.876,2.977230e+05,2.546,102658.894104,3.929505e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
186,Kenya,25-35,male,2019,4411507.328,7.032,3.102172e+05,3.166,129846.845601,3.971443e+06,...,14044.293086,35775.400332,130097.041194,116921.959995,222230.665927,48010.387967,0,0,84654.190110,0
187,Kenya,25-35,male,2020,4493127.680,7.883,3.541933e+05,3.721,154009.749954,3.984925e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
188,Kenya,25-35,male,2021,4598833.344,7.098,3.264252e+05,3.697,157950.929425,4.114457e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
189,Kenya,25-35,male,2022,4704539.008,6.698,3.151100e+05,3.519,154464.005991,4.234965e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
190,Kenya,25-35,male,2023,4810244.672,6.667,3.206990e+05,3.465,155562.757109,4.333983e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
191,Kenya,25-35,male,2024,4915950.336,6.661,3.274515e+05,3.416,156743.121882,4.431756e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0

In [279]:
# List of columns with null values that need imputation
sectors = ['Accommodation', 'Agriculture', 'Construction', 'Education', 'Financial and insurance', 'Human health', 'Manufacturing',
           'Mining and quarrying', 'Other services', 'Public administration and defence', 'Real estate', 'Transport', 'Utilities', 'Wholesale and retail']

# Iterate through each row in the pop_df dataframe
for index, row in pop_df.iterrows():
    for country in pop_df['name'].unique():
        if row['year'] != 2019:  # Exclude the base year (2019)
            for sector in sectors:
                prev_year = row['year'] - 1
                growth_rate_row = sector_growth_rates[(sector_growth_rates['country'] == row['name']) &
                                                      (sector_growth_rates['economic_activity'].str.contains(sector)) &
                                                      (sector_growth_rates['sex'] == row['sex']) &
                                                      (sector_growth_rates['year'] == row['year'])]

                # Check if the growth_rate_row is empty
                if not growth_rate_row.empty:
                    # Retrieve the growth rate from the growth_rate_row
                    growth_rate = growth_rate_row['growth_rate'].values[0]

                    # Find the base value from 2019 for the current sector, sex, and age group
                    if sector == 'Utilities':
                        utility_sectors = ['Water supply','Electricity']
                        for sector in utility_sectors:
                            base_value = pop_df.loc[(pop_df['year'] == 2019) &
                                        (pop_df['sex'] == row['sex']) &
                                        (pop_df['name'] == row['name']) &
                                        (pop_df['age_group'] == row['age_group']), sector].values[0]

                            # Calculate the imputed value based on the rules you mentioned
                            if row['year'] < 2019:
                                imputed_value = base_value * (100 - growth_rate)
                            else:
                                imputed_value = base_value * (100 + growth_rate)

                            # Update the imputed value in the pop_df dataframe
                            pop_df.at[index, sector] = imputed_value

                    if sector == 'Transport':
                        transport_sectors = ['Transport','Information and communication']
                        for sector in transport_sectors:
                            base_value = pop_df.loc[(pop_df['year'] == 2019) &
                                        (pop_df['sex'] == row['sex']) &
                                        (pop_df['name'] == row['name']) &
                                        (pop_df['age_group'] == row['age_group']), sector].values[0]

                            # Calculate the imputed value based on the rules you mentioned
                            if row['year'] < 2019:
                                imputed_value = base_value * (100 - growth_rate)
                            else:
                                imputed_value = base_value * (100 + growth_rate)

                            # Update the imputed value in the pop_df dataframe
                            pop_df.at[index, sector] = imputed_value

                    if sector == 'Real estate':
                        realestate_sectors = ['Real estate','Professional','Administrative and support']
                        for sector in realestate_sectors:
                            base_value = pop_df.loc[(pop_df['year'] == 2019) &
                                        (pop_df['sex'] == row['sex']) &
                                        (pop_df['name'] == row['name']) &
                                        (pop_df['age_group'] == row['age_group']), sector].values[0]
                            # Calculate the imputed value based on the rules you mentioned
                            if row['year'] < 2019:
                                imputed_value = base_value * (100 - growth_rate)
                            else:
                                imputed_value = base_value * (100 + growth_rate)

                            # Update the imputed value in the pop_df dataframe
                            pop_df.at[index, sector] = imputed_value

                    if sector == 'Other services':
                        otherservices_sectors = ['Arts and entertainment','Other services','Activities of households','Extraterritorial organizations']
                        for sector in otherservices_sectors:
                            base_value = pop_df.loc[(pop_df['year'] == 2019) &
                                        (pop_df['sex'] == row['sex']) &
                                        (pop_df['name'] == row['name']) &
                                        (pop_df['age_group'] == row['age_group']), sector].values[0]
                            # Calculate the imputed value based on the rules you mentioned
                            if row['year'] < 2019:
                                imputed_value = base_value * (100 - growth_rate)
                            else:
                                imputed_value = base_value * (100 + growth_rate)

                            # Update the imputed value in the pop_df dataframe
                            pop_df.at[index, sector] = imputed_value

                    base_value = pop_df.loc[(pop_df['year'] == 2019) &
                                        (pop_df['sex'] == row['sex']) &
                                        (pop_df['name'] == row['name']) &
                                        (pop_df['age_group'] == row['age_group']), sector].values[0]

                    # Calculate the imputed value based on the rules you mentioned
                    if row['year'] < 2019:
                        imputed_value = base_value * (100 - growth_rate)
                    else:
                        imputed_value = base_value * (100 + growth_rate)

                    # Update the imputed value in the pop_df dataframe
                    pop_df.at[index, sector] = imputed_value
                else:
                    # Handle the case when growth_rate_row is empty (no matching data found)
                    print(f"No growth rate data found for sector '{sector}' and year {row['year']}")

### 7. Analyze Employment, Unemployment, and Inactivity by Education

We filter the data to include only the relevant education levels then calculate rates based on shares and multiply by the employed or inactive population as appropriate.

In [235]:
education_df = pop_df[['name','age_group','sex','year','population','Total_inactive_population','Total_unemployed_population','Total_employed_population']]

education_df.head()

,name,age_group,sex,year,population,Total_inactive_population,Total_unemployed_population,Total_employed_population
0,Ghana,15-24,female,2015,2664400.0,1.578684e+06,148743.140772,9.369732e+05
1,Ghana,15-24,female,2016,2712580.0,1.611164e+06,109976.385923,9.914396e+05
2,Ghana,15-24,female,2017,2760760.0,1.645303e+06,68656.407303,1.046801e+06
3,Ghana,15-24,female,2018,2808940.0,1.679915e+06,70891.501325,1.058134e+06
4,Ghana,15-24,female,2019,2857120.0,1.714986e+06,72731.075290,1.069403e+06

In [236]:
def process_education_data(data, indicator):
    # Extract only relevant columns
    colums_to_keep =['ref_area.label','indicator.label','sex.label','classif1.label','classif2.label','time','obs_value']
    
    data = data[colums_to_keep]
    
    data = data[data['indicator.label'] == indicator]
    
    # Filter by indicator and relevant columns
    years_to_filter = list(range(2015, 2025))
    data = data[data['time'].isin(years_to_filter)]
    data = data[data['classif1.label'].isin(['Age (Youth, adults): 15-24', 'Age (Youth, adults): 25+'])]
    
    # Map age groups to common labels
    data['classif1.label'] = data['classif1.label'].str.replace('Age (Youth, adults): 25+', '25-35', regex=False).str.strip()
    data['classif1.label'] = data['classif1.label'].str.replace('Age (Youth, adults): 15-24', '15-24', regex=False).str.strip()
    
    # Filter by sex labels
    data = data[data['sex.label'].isin(['Sex: Male', 'Sex: Female'])]
    
    # Map sex labels to common labels
    data['sex.label'] = data['sex.label'].str.replace('Sex: Male', 'male', regex=False).str.strip()
    data['sex.label'] = data['sex.label'].str.replace('Sex: Female', 'female', regex=False).str.strip()
    
    # Filter by classif2.label
    data = data[data['classif2.label'].str.contains('Aggregate levels')]
    
    return data

## Inactivity by sex, age and education

In [237]:
 # Replace with your desired years
inactivity_df = process_education_data(labor_df,"Inactivity rate by sex, age and education (%)")
inactivity_df.tail()

,ref_area.label,indicator.label,sex.label,classif1.label,classif2.label,time,obs_value
45529,Ghana,"Inactivity rate by sex, age and education (%)",female,25-35,Education (Aggregate levels): Less than basic,2017,23.9
45530,Ghana,"Inactivity rate by sex, age and education (%)",female,25-35,Education (Aggregate levels): Basic,2017,16.85
45531,Ghana,"Inactivity rate by sex, age and education (%)",female,25-35,Education (Aggregate levels): Intermediate,2017,20.98
45532,Ghana,"Inactivity rate by sex, age and education (%)",female,25-35,Education (Aggregate levels): Advanced,2017,22.15
45533,Ghana,"Inactivity rate by sex, age and education (%)",female,25-35,Education (Aggregate levels): Level not stated,2017,92.93

In [238]:
# Create a dictionary mapping the combination of 'age_group', 'year', and 'gender' to 'obs_value'
obs_value_map = inactivity_df.set_index(['ref_area.label','classif2.label','classif1.label', 'time', 'sex.label'])['obs_value'].to_dict()

# Creating lists to store the data
country = []
education_level = []
age_group = []
year = []
sex = []
value = []

# Parsing the data dictionary and extracting values
for key, val in obs_value_map.items():
    country.append(key[0])
    education_level.append(key[1])
    age_group.append(key[2])
    year.append(key[3])
    sex.append(key[4])
    value.append(val)

# Creating a DataFrame
edu_levels_df = pd.DataFrame({
    'country' : country,
    'education_level': education_level,
    'age_group': age_group,
    'year': year,
    'sex': sex,
    'inactivity_rate': value
})

edu_levels_df['inactivity_rate'] = pd.to_numeric(edu_levels_df['inactivity_rate'], errors='coerce')

edu_levels_df.tail()

,country,education_level,age_group,year,sex,inactivity_rate
198,Ghana,Education (Aggregate levels): Less than basic,25-35,2017,female,23.90
199,Ghana,Education (Aggregate levels): Basic,25-35,2017,female,16.85
200,Ghana,Education (Aggregate levels): Intermediate,25-35,2017,female,20.98
201,Ghana,Education (Aggregate levels): Advanced,25-35,2017,female,22.15
202,Ghana,Education (Aggregate levels): Level not stated,25-35,2017,female,92.93

In [239]:
def merge_edu_levels(education_df, edu_levels_df):
    education_levels = ['Less than basic','Basic','Intermediate','Advanced','Level not stated']
    age_groups = ['15-24','25-35']
    
    # Iterate through each row in the education dataframe
    for index, row in education_df.iterrows():
        for level in education_levels:
            for age_group in age_groups:
                if row['year'] in [ 2016, 2019]:
                    inactivity_rate_row = edu_levels_df[(edu_levels_df['country'] == row['name']) &
                                                          (edu_levels_df['education_level'].str.contains(level)) &
                                                          (edu_levels_df['sex'] == row['sex']) &
                                                          (edu_levels_df['age_group'] == row['age_group']) &
                                                          (edu_levels_df['year'] == row['year'])]

                    # Check if the inactivity_rate_row is empty
                    if not inactivity_rate_row.empty:
                        # Retrieve the inactivity rate from the growth_rate_row
                        inactivity_rate = inactivity_rate_row['inactivity_rate'].values[0]

                        education_df.at[index, level + '_inactive'] = inactivity_rate * education_df.at[index, 'Total_inactive_population']

                if  row['year'] > 2019:
                    inactivity_rate_row = edu_levels_df[(edu_levels_df['country'] == row['name']) &
                                                          (edu_levels_df['education_level'].str.contains(level)) &
                                                          (edu_levels_df['sex'] == row['sex']) &
                                                          (edu_levels_df['age_group'] == row['age_group']) &
                                                          (edu_levels_df['year'] == 2019)]

                    # Check if the inactivity_rate_row is empty
                    if not inactivity_rate_row.empty:
                        # Retrieve the inactivity rate from the growth_rate_row
                        inactivity_rate = inactivity_rate_row['inactivity_rate'].values[0]

                        education_df.at[index, level + '_inactive'] = inactivity_rate * education_df.at[index, 'Total_inactive_population']

                else:
                    # Handle the case when inactivity_rate_row is empty (no matching data found)
                    print(f"No inactivity rate data found for '{level}' and year {row['year']}")

In [240]:
merge_edu_levels(education_df, edu_levels_df)

No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019

No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019

No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Less than basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Basic' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Intermediate' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Advanced' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Level not stated' and year 2015
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Less than basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Basic' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Intermediate' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Advanced' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Level not stated' and year 2016
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Less than basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Basic' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Intermediate' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Advanced' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Level not stated' and year 2017
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Less than basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Basic' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Intermediate' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Advanced' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Level not stated' and year 2018
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Less than basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Basic' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Intermediate' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Advanced' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019
No inactivity rate data found for 'Level not stated' and year 2019

In [241]:
kenya_rows = education_df[education_df['name'] == 'Kenya']
kenya_rows.head()

,name,age_group,sex,year,population,Total_inactive_population,Total_unemployed_population,Total_employed_population,Less than basic_inactive,Basic_inactive,Intermediate_inactive,Advanced_inactive,Level not stated_inactive
104,Kenya,15-24,female,2015,4742700.0,2.652497e+06,153399.979382,1.936803e+06,NaN,NaN,NaN,NaN,NaN
105,Kenya,15-24,female,2016,4887980.0,2.754914e+06,157228.264801,1.975837e+06,1.319053e+08,1.425393e+08,1.676916e+08,1.673886e+08,1.857088e+08
106,Kenya,15-24,female,2017,5033260.0,2.864227e+06,201806.836312,1.967226e+06,NaN,NaN,NaN,NaN,NaN
107,Kenya,15-24,female,2018,5178540.0,2.975744e+06,246536.879053,1.956259e+06,NaN,NaN,NaN,NaN,NaN
108,Kenya,15-24,female,2019,5323820.0,3.090105e+06,294291.971987,1.939423e+06,2.113014e+08,2.102198e+08,1.761051e+08,9.653488e+07,1.469654e+08

## Employment by sex, age and education

In [242]:
employment_df = process_education_data(labor_df,"Employment by sex, age and education (thousands)")
employment_df['obs_value'] = pd.to_numeric(employment_df['obs_value'], errors='coerce')
employment_df.head()

,ref_area.label,indicator.label,sex.label,classif1.label,classif2.label,time,obs_value
2202,Kenya,"Employment by sex, age and education (thousands)",male,15-24,Education (Aggregate levels): Total,2019,1613.832
2203,Kenya,"Employment by sex, age and education (thousands)",male,15-24,Education (Aggregate levels): Less than basic,2019,192.978
2204,Kenya,"Employment by sex, age and education (thousands)",male,15-24,Education (Aggregate levels): Basic,2019,912.575
2205,Kenya,"Employment by sex, age and education (thousands)",male,15-24,Education (Aggregate levels): Intermediate,2019,480.223
2206,Kenya,"Employment by sex, age and education (thousands)",male,15-24,Education (Aggregate levels): Advanced,2019,25.810

In [243]:
def calculate_edu_shares(employment_df):
    # Calculate total values for each year
    total_values = employment_df[employment_df["classif2.label"].str.contains("Total")]
    total_values = total_values.groupby(["ref_area.label","sex.label","classif2.label","classif1.label","time"])["obs_value"].sum().reset_index()

    # Iterate through each sector and calculate sector shares
    for country in employment_df['ref_area.label'].unique():
        for level in employment_df["classif2.label"].unique():
            level_rows = employment_df[employment_df["classif2.label"] == level]
            for year in employment_df["time"].unique():
                for gender in employment_df["sex.label"].unique():
                    for age_group in employment_df["classif1.label"].unique():
                        year_gender_age_rows = level_rows[(level_rows["ref_area.label"] == country) & (level_rows["time"] == year) & (level_rows["sex.label"] == gender) & (level_rows["classif1.label"] == age_group)]
                        if not year_gender_age_rows.empty:
                            level_total = total_values[(total_values["ref_area.label"] == country) & (total_values["time"] == year) & (total_values["sex.label"] == gender) & (total_values["classif1.label"] == age_group)]["obs_value"].values[0]
                            employment_df.loc[year_gender_age_rows.index, "level_shares"] = year_gender_age_rows["obs_value"] / level_total

calculate_edu_shares(employment_df)

In [244]:
employment_df.head()

,ref_area.label,indicator.label,sex.label,classif1.label,classif2.label,time,obs_value,level_shares
2202,Kenya,"Employment by sex, age and education (thousands)",male,15-24,Education (Aggregate levels): Total,2019,1613.832,1.000000
2203,Kenya,"Employment by sex, age and education (thousands)",male,15-24,Education (Aggregate levels): Less than basic,2019,192.978,0.119578
2204,Kenya,"Employment by sex, age and education (thousands)",male,15-24,Education (Aggregate levels): Basic,2019,912.575,0.565471
2205,Kenya,"Employment by sex, age and education (thousands)",male,15-24,Education (Aggregate levels): Intermediate,2019,480.223,0.297567
2206,Kenya,"Employment by sex, age and education (thousands)",male,15-24,Education (Aggregate levels): Advanced,2019,25.810,0.015993

In [245]:
education_levels = ['Less than basic','Basic','Intermediate','Advanced','Level not stated']
age_groups = ['15-24','25-35']

new_column_names = {'ref_area.label': 'country','classif2.label':'education_level','time':'year','classif1.label':'age_group','sex.label':'sex'}
employment_df = employment_df.rename(columns=new_column_names)

# Iterate through each row in the education dataframe
for index, row in education_df.iterrows():
    for level in education_levels:
        for age_group in age_groups:
            if row['year'] in [ 2016, 2019]:
                employment_rate_row = employment_df[(employment_df['country'] == row['name']) & 
                                    (employment_df['education_level'].str.contains(level)) &
                                    (employment_df['sex'] == row['sex']) &
                                    (employment_df['age_group'] == row['age_group']) &
                                    (employment_df['year'] == row['year'])]

                # Check if the inactivity_rate_row is empty
                if not employment_rate_row.empty:
                    # Retrieve the inactivity rate from the growth_rate_row
                    employment_rate = employment_rate_row['level_shares'].values[0]

                    education_df.at[index, level + '_employment'] = employment_rate * education_df.at[index, 'Total_employed_population']

            if  row['year'] > 2019:
                employment_rate_row = employment_df[(employment_df['country'] == row['name']) & 
                                    (employment_df['education_level'].str.contains(level)) &
                                    (employment_df['sex'] == row['sex']) &
                                    (employment_df['age_group'] == row['age_group']) &
                                    (employment_df['year'] == row['year'])]

                # Check if the inactivity_rate_row is empty
                if not employment_rate_row.empty:
                    # Retrieve the inactivity rate from the growth_rate_row
                    employment_rate = employment_rate_row['level_shares'].values[0]

                    education_df.at[index, level + '_employment'] = employment_rate * education_df.at[index, 'Total_employed_population']

            else:
                # Handle the case when employment_rate_row is empty (no matching data found)
                print(f"No employment rate data found for '{level}' and year {row['year']}")

No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019

No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015

No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Less than basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Basic' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Intermediate' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Advanced' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Level not stated' and year 2015
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Less than basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Basic' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Intermediate' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Advanced' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Level not stated' and year 2016
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Less than basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Basic' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Intermediate' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Advanced' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Level not stated' and year 2017
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Less than basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Basic' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Intermediate' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Advanced' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Level not stated' and year 2018
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Less than basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Basic' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Intermediate' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Advanced' and year 2019
No employment rate data found for 'Level not stated' and year 2019
No employment rate data found for 'Level not stated' and year 2019

In [246]:
education_df.tail()

,name,age_group,sex,year,population,Total_inactive_population,Total_unemployed_population,Total_employed_population,Less than basic_inactive,Basic_inactive,Intermediate_inactive,Advanced_inactive,Level not stated_inactive,Less than basic_employment,Basic_employment,Intermediate_employment,Advanced_employment,Level not stated_employment
291,Rwanda,25-35,male,2020,1089188.160,300626.824042,82649.113622,705912.222337,1.144186e+07,6.725022e+06,4.479340e+06,3.709735e+06,NaN,71131.561886,493082.138158,70305.014929,71393.507364,NaN
292,Rwanda,25-35,male,2021,1098918.272,305422.355337,85110.372021,708385.544642,1.162437e+07,6.832298e+06,4.550793e+06,3.768912e+06,NaN,72895.057083,497781.224990,71453.264828,66256.423677,NaN
293,Rwanda,25-35,male,2022,1108648.384,317849.491693,82946.895814,707851.996493,1.209735e+07,7.110293e+06,4.735957e+06,3.922263e+06,NaN,NaN,NaN,NaN,NaN,NaN
294,Rwanda,25-35,male,2023,1118378.496,331084.769956,80736.971606,706556.754438,1.260109e+07,7.406366e+06,4.933163e+06,4.085586e+06,NaN,NaN,NaN,NaN,NaN,NaN
295,Rwanda,25-35,male,2024,1128108.608,342617.865336,78823.996026,706666.746638,1.304004e+07,7.664362e+06,5.105006e+06,4.227904e+06,NaN,NaN,NaN,NaN,NaN,NaN

## Unemployment

In [247]:
unemployment_df = process_education_data(labor_df,"Unemployment by sex, age and education (thousands)")
unemployment_df['obs_value'] = pd.to_numeric(unemployment_df['obs_value'], errors='coerce')
unemployment_df.head()

,ref_area.label,indicator.label,sex.label,classif1.label,classif2.label,time,obs_value
6458,Kenya,"Unemployment by sex, age and education (thousa...",male,15-24,Education (Aggregate levels): Total,2019,219.596
6459,Kenya,"Unemployment by sex, age and education (thousa...",male,15-24,Education (Aggregate levels): Less than basic,2019,6.138
6460,Kenya,"Unemployment by sex, age and education (thousa...",male,15-24,Education (Aggregate levels): Basic,2019,75.632
6461,Kenya,"Unemployment by sex, age and education (thousa...",male,15-24,Education (Aggregate levels): Intermediate,2019,109.418
6462,Kenya,"Unemployment by sex, age and education (thousa...",male,15-24,Education (Aggregate levels): Advanced,2019,28.407

In [248]:
calculate_edu_shares(unemployment_df)

unemployment_df.tail()

,ref_area.label,indicator.label,sex.label,classif1.label,classif2.label,time,obs_value,level_shares
43761,Ghana,"Unemployment by sex, age and education (thousa...",female,25-35,Education (Aggregate levels): Less than basic,2017,20.635,0.139349
43762,Ghana,"Unemployment by sex, age and education (thousa...",female,25-35,Education (Aggregate levels): Basic,2017,80.554,0.543986
43763,Ghana,"Unemployment by sex, age and education (thousa...",female,25-35,Education (Aggregate levels): Intermediate,2017,36.648,0.247486
43764,Ghana,"Unemployment by sex, age and education (thousa...",female,25-35,Education (Aggregate levels): Advanced,2017,9.572,0.064640
43765,Ghana,"Unemployment by sex, age and education (thousa...",female,25-35,Education (Aggregate levels): Level not stated,2017,0.672,0.004538

In [249]:
education_levels = ['Less than basic','Basic','Intermediate','Advanced','Level not stated']
age_groups = ['15-24','25-35']

new_column_names = {'ref_area.label': 'country','classif2.label':'education_level','time':'year','classif1.label':'age_group','sex.label':'sex'}
unemployment_df = unemployment_df.rename(columns=new_column_names)

# Iterate through each row in the education dataframe
for index, row in education_df.iterrows():
    for level in education_levels:
        for age_group in age_groups:
            if row['year'] in [ 2016, 2019]:
                unemployment_rate_row = unemployment_df[(unemployment_df['country'] == row['name']) & 
                                    (unemployment_df['education_level'].str.contains(level)) &
                                    (unemployment_df['sex'] == row['sex']) &
                                    (unemployment_df['age_group'] == row['age_group']) &
                                    (unemployment_df['year'] == row['year'])]

                # Check if the unemployment_rate_row is empty
                if not unemployment_rate_row.empty:
                    # Retrieve the unemployment rate from the growth_rate_row
                    unemployment_rate = unemployment_rate_row['level_shares'].values[0]

                    education_df.at[index, level + '_unemployment'] = unemployment_rate * education_df.at[index, 'Total_inactive_population']

            if  row['year'] > 2019:
                unemployment_rate_row = unemployment_df[(unemployment_df['country'] == row['name']) & 
                                    (unemployment_df['education_level'].str.contains(level)) &
                                    (unemployment_df['sex'] == row['sex']) &
                                    (unemployment_df['age_group'] == row['age_group']) &
                                    (unemployment_df['year'] == row['year'])]

                # Check if the inactivity_rate_row is empty
                if not unemployment_rate_row.empty:
                    # Retrieve the inactivity rate from the growth_rate_row
                    unemployment_rate = unemployment_rate_row['level_shares'].values[0]

                    education_df.at[index, level + '_unemployment'] = unemployment_rate * education_df.at[index, 'Total_inactive_population']

            else:
                # Handle the case when unemployment_rate_row is empty (no matching data found)
                print(f"No unemployment rate data found for '{level}' and year {row['year']}")

No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015

No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019

No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Less than basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Basic' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Intermediate' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Advanced' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Level not stated' and year 2015
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Less than basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Basic' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Intermediate' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Advanced' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Level not stated' and year 2016
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Less than basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Basic' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Intermediate' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Advanced' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Level not stated' and year 2017
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Less than basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Basic' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Intermediate' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Advanced' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Level not stated' and year 2018
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Less than basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Basic' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Intermediate' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Advanced' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019
No unemployment rate data found for 'Level not stated' and year 2019

In [250]:
education_df.head()

,name,age_group,sex,year,population,Total_inactive_population,Total_unemployed_population,Total_employed_population,Less than basic_inactive,Basic_inactive,...,Less than basic_employment,Basic_employment,Intermediate_employment,Advanced_employment,Level not stated_employment,Less than basic_unemployment,Basic_unemployment,Intermediate_unemployment,Advanced_unemployment,Level not stated_unemployment
0,Ghana,15-24,female,2015,2664400.0,1.578684e+06,148743.140772,9.369732e+05,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ghana,15-24,female,2016,2712580.0,1.611164e+06,109976.385923,9.914396e+05,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ghana,15-24,female,2017,2760760.0,1.645303e+06,68656.407303,1.046801e+06,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ghana,15-24,female,2018,2808940.0,1.679915e+06,70891.501325,1.058134e+06,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ghana,15-24,female,2019,2857120.0,1.714986e+06,72731.075290,1.069403e+06,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Convert to csv

In [254]:
education_df.to_csv('Datasets/Education_df.csv')
pop_df.to_csv('Datasets/Sectors_df.csv')

In [292]:
ken = pd.read_csv('Datasets/Sectors_df.csv')
gha = pd.read_csv('Datasets/Sectors_df_ghana.csv')
rwa = pd.read_csv('Datasets/Sectors_df_rwanda.csv')

In [293]:
combined = pd.concat([ken, rwa, gha], axis=0)

In [300]:
combined.to_csv('Datasets/Sectors_df.csv')

In [297]:
gha.head()

,Unnamed: 0,name,age_group,sex,year,population,ILO inactive share,Total inactive population,ILO unemployed rate,Total unemployed population,...,Real estate,Professional,Administrative and support,Public administration and defence,Education,Human health,Arts $ entertainment,Other services,Activities of households,Extraterritorial organizations
0,0,Ghana,15-24,female,2015,2664400.0,59.251,1.578684e+06,13.700,148743.140772,...,0.0,7015.89382,2649.919375,12923.220829,48531.562061,28399.679078,0,0,8200.098875,0
1,1,Ghana,15-24,female,2016,2712580.0,59.396,1.611164e+06,9.985,109976.385923,...,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
2,2,Ghana,15-24,female,2017,2760760.0,59.596,1.645303e+06,6.155,68656.407303,...,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
3,3,Ghana,15-24,female,2018,2808940.0,59.806,1.679915e+06,6.279,70891.501325,...,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0
4,4,Ghana,15-24,female,2019,2857120.0,60.025,1.714986e+06,6.368,72731.075290,...,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0,0,0.000000,0